Repository TeamHarTex/HarTex, pull requests merged in 2023-11, with the labels that each got.

#1576 Generate Strongly-typed Database Queries
  .env.example
  .gitignore
  .idea/sqldialects.xml
  database-queries/Cargo.lock
  database-queries/Cargo.toml
  database-queries/build.rs
  database-queries/generated/api_backend.rs
  database-queries/queries/start_timestamp_select_by_component.sql
  database-queries/queries/start_timestamp_upsert.sql
  database-queries/src/lib.rs
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-worker/Cargo.toml
  discord-frontend/hartex-discord-worker/src/eventcallback.rs
Labels: Bot: Enhancement, Bot: Breaking Change

#1579 Remove `sqlx` From `discord-frontend` Workspace
  CHANGELOG.md
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-worker/Cargo.toml
Labels: Bot: Enhancement, Bot: Breaking Change

#1580 Phase Out `sqlx` For `api-backend`
  .idea/misc.xml
  CHANGELOG.md
  api-backend/Cargo.lock
  api-backend/hartex-backend-models-v1/Cargo.toml
  api-backend/hartex-backend-models-v1/src/uptime.rs
  api-backend/hartex-backend-routes-v1/Cargo.toml
  api-backend/hartex-backend-routes-v1/src/uptime.rs
  bors/Cargo.lock
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-worker/src/eventcallback.rs
Labels: Backend: Breaking Change, Backend: Enhancement

#1581 Initialize `hartex-bors-dashboard`
  .idea/HarTex-rust-discord-bot.iml
  CHANGELOG.md
  bors/Cargo.lock
  bors/Cargo.toml
  bors/hartex-bors-dashboard/Cargo.toml
  bors/hartex-bors-dashboard/index.html
  bors/hartex-bors-dashboard/src/app.rs
  bors/hartex-bors-dashboard/src/main.rs
Labels: Bors: Breaking Change, Bors: Enhancement

#1588 Fix Web-Frontend Lock File
  bors/Cargo.lock
  bors/hartex-bors-dashboard/Cargo.toml
  bors/hartex-bors-dashboard/src/app.rs
  web-frontend/yarn.lock
Labels: Web: Enhancement

#1591 Revert Database Queries in Dashboard
  bors/Cargo.lock
  bors/hartex-bors-dashboard/Cargo.toml
  bors/hartex-bors-dashboard/src/app.rs
  bors/hartex-bors-dashboard/src/home.rs
  bors/hartex-bors-dashboard/src/main.rs
Labels: Bors: Breaking Change, Bors: Enhancement

#1592 Discontinue API v1
  .idea/HarTex-rust-discord-bot.iml
  CHANGELOG.md
  api-backend/Cargo.lock
  api-backend/Cargo.toml
  api-backend/hartex-backend-driver/Cargo.toml
  api-backend/hartex-backend-driver/src/main.rs
  api-backend/hartex-backend-models-v2/Cargo.toml
  api-backend/hartex-backend-models-v2/src/bors.rs
  api-backend/hartex-backend-models-v2/src/lib.rs
  api-backend/hartex-backend-models-v2/src/uptime.rs
  api-backend/hartex-backend-routes-v2/Cargo.toml
  api-backend/hartex-backend-routes-v2/src/bors.rs
  api-backend/hartex-backend-routes-v2/src/lib.rs
  api-backend/hartex-backend-routes-v2/src/uptime.rs
  bors/Cargo.lock
  bors/hartex-bors-permissions/Cargo.toml
  bors/hartex-bors-permissions/src/permissions.rs
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-commands/Cargo.toml
  discord-frontend/hartex-discord-commands/src/utilities/info/info_bot.rs
Labels: Backend: Breaking Change, Backend: Enhancement, Backend: Feature

#1593 Start Reworking the `/bors/repositories/<repository>/permissions/<permission>` Route
  api-backend/hartex-backend-routes-v2/src/bors.rs
  api-backend/hartex-backend-routes-v2/src/lib.rs
  database-queries/build.rs
  database-queries/generated/api_backend.rs
  database-queries/queries/api_backend/bors_repository_permissions_select_user_by_repository_and_permissions.sql
  database-queries/queries/api_backend/start_timestamp_select_by_component.sql
  database-queries/queries/api_backend/start_timestamp_upsert.sql
Labels: Backend: Breaking Change, Backend: Enhancement, Backend: Feature

#1597 Localization: Initialilze Reimagination
  .idea/HarTex-rust-discord-bot.iml
  api-backend/Cargo.lock
  bors/Cargo.lock
  buildsystem/Cargo.lock
  database-queries/Cargo.lock
  database-queries/generated/api_backend.rs
  discord-frontend/Cargo.lock
  localization/Cargo.lock
  localization/Cargo.toml
  localization/hartex-localization-bindings/Cargo.toml
  localization/hartex-localization-bindings/src/lib.rs
  localization/hartex-localization-loader/Cargo.toml
  localization/hartex-localization-loader/src/env.rs
  localization/hartex-localization-loader/src/lib.rs
  rust-utilities/Cargo.lock
Labels: Localization: Breaking Change, Localization: Enhancement, Localization: Feature

#1600 Localization: Update Binding Macro
  localization/Cargo.lock
  localization/hartex-localization-bindings/Cargo.toml
  localization/hartex-localization-bindings/src/lib.rs
  localization/hartex-localization-loader/src/lib.rs
Labels: Localization: Enhancement, Localization: Feature

#1607 Localization: Fix Broken Tests
  localization/hartex-localization-test/tests/expand/bundle_get.expanded.rs
  localization/hartex-localization-test/tests/expand/bundle_get_args.expanded.rs
Labels: Localization: Bugfix

#1609 Unfreeze Nightly
  .github/workflows/lints.yml
  .github/workflows/tests.yml
Labels: CI: Enhancement

#1614 Add Cargo Configuration to All Workspaces
  api-backend/.cargo/config
  api-backend/Cargo.lock
  api-backend/Cargo.toml
  bors/.cargo/config
  bors/Cargo.toml
  buildsystem/.cargo/config
  buildsystem/Cargo.toml
  database-queries/.cargo/config
  database-queries/Cargo.toml
  discord-frontend/Cargo.toml
  localization/.cargo/config
  localization/Cargo.toml
  rust-utilities/.cargo/config
  rust-utilities/Cargo.toml
Labels: Bot: Enhancement, Buildsystem: Enhancement, Utilities: Enhancement, Localization: Enhancement, Backend: Enhancement, Bors: Enhancement

#1615 Localization: Generate More Code from Macro
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-commands/Cargo.toml
  localization/hartex-localization-bindings/src/lib.rs
  localization/hartex-localization-loader/src/lib.rs
Labels: Localization: Enhancement, Localization: Feature

#1616 Generate Bindings of Messages
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-commands/Cargo.toml
  localization/Cargo.lock
  localization/hartex-localization-bindings/Cargo.toml
  localization/hartex-localization-bindings/src/lib.rs
  localization/hartex-localization-loader/Cargo.toml
  localization/hartex-localization-loader/src/lib.rs
  localization/hartex-localization-test/Cargo.toml
Labels: Localization: Enhancement, Localization: Feature

#1617 Bot: `/about`: New Localization API
  api-backend/Cargo.lock
  bors/Cargo.lock
  buildsystem/Cargo.lock
  database-queries/Cargo.lock
  discord-frontend/Cargo.lock
  discord-frontend/hartex-discord-commands-manager/src/commands/list_from_discord.rs
  discord-frontend/hartex-discord-commands/src/general/about.rs
  discord-frontend/hartex-discord-commands/src/lib.rs
  discord-frontend/hartex-discord-entitycache-macros/build.rs
  discord-frontend/hartex-discord-entitycache-macros/src/entity.rs
  discord-frontend/hartex-discord-worker/src/eventcallback.rs
  localization/Cargo.lock
  localization/hartex-localization-bindings/src/lib.rs
  localization/hartex-localization-loader/src/lib.rs
  localization/hartex-localization-macros/src/lib.rs
  rust-utilities/Cargo.lock
Labels: Bot: Enhancement

#1619 Bot: `/contributors` Command: Use Localization APIs
  CHANGELOG.md
  discord-frontend/hartex-discord-commands/src/general/about.rs
  discord-frontend/hartex-discord-commands/src/general/contributors.rs
  discord-frontend/hartex-discord-commands/src/lib.rs
  localization/Cargo.lock
Labels: Bot: Enhancement

#1620 Bot: `/info bot`: Use New Localization API
  discord-frontend/hartex-discord-commands/src/utilities/info/info_bot.rs
Labels: Bot: Enhancement

#1621 Bot: `/info role`: Use New Localization API
  discord-frontend/hartex-discord-commands/src/general/about.rs
  discord-frontend/hartex-discord-commands/src/utilities/info/info_role.rs
  localization/locales/en-GB/discord-frontend/commands/utilities-plugin.ftl
  localization/locales/zh-CN/discord-frontend/commands/utilities-plugin.ftl
  localization/locales/zh-TW/discord-frontend/commands/utilities-plugin.ftl
Labels: Bot: Enhancement

#1622 Bot: `/info server`: Use New Localization API
  discord-frontend/hartex-discord-commands/src/utilities/info/info_server.rs
Labels: Bot: Enhancement

#1636 Localization: Fix Locale Path Search
  localization/hartex-localization-loader/src/env.rs
Labels: Localization: Bugfix

#1640 feat(tr-ja): utilities-plugin /info role
  localization/locales/ja/discord-frontend/commands/utilities-plugin.ftl
Labels: Localization: Enhancement

#1645 API Backend: Use New Database API
  api-backend/hartex-backend-routes-v2/src/bors.rs
Labels: Backend: Enhancement

#1648 Backend: Change Object Name
  api-backend/hartex-backend-routes-v2/src/bors.rs
Labels: Backend: Enhancement
