Repository TeamHarTex/HarTex, pull requests merged in 2023-06, with the labels that each got.

#1000 Bors: Add Labels on Pull Request Creation
  bors/hartex-bors-driver/src/event.rs
Labels: Bors: Waiting on Review

#1002 Bors: Modify Labels of Pull Request
  bors/hartex-bors-commands/src/commands/approve.rs
  bors/hartex-bors-core/src/lib.rs
  bors/hartex-bors-github/src/lib.rs
  bors/hartex-bors-website/templates/queue.hbs
Labels: waiting-on-review

#1004 Bors: Fix Set Labels
  bors/hartex-bors-commands/src/commands/approve.rs
  bors/hartex-bors-core/src/lib.rs
  bors/hartex-bors-driver/src/event.rs
  bors/hartex-bors-github/src/lib.rs
Labels: waiting-on-bors

#1005 Bors: Add Approved Field to Pull Request Database Model
  bors/hartex-bors-commands/src/commands/approve.rs
  bors/hartex-bors-commands/src/commands/approve_cancel.rs
  bors/hartex-bors-commands/src/commands/try.rs
  bors/hartex-bors-commands/src/commands/try_cancel.rs
  bors/hartex-bors-core/src/lib.rs
  bors/hartex-bors-core/src/models.rs
  bors/hartex-bors-database/src/client.rs
  bors/hartex-bors-database/src/entity/pull_request.rs
  bors/hartex-bors-database/src/migration/m_20230605_2015_create_pr.rs
  bors/hartex-bors-website/src/queue.rs
Labels: waiting-on-bors

#1006 Bors: Create PR in Database Upon Creation
  bors/hartex-bors-driver/src/event.rs
Labels: waiting-on-review

#1032 Bors: Fix Cancelled DNS Connection II
  bors/hartex-bors-driver/src/main.rs
Labels: waiting-on-bors

#1033 Bors DB: Fix Enqueued NOT NULL Constraint
  bors/hartex-bors-commands/src/commands/approve.rs
  bors/hartex-bors-core/src/lib.rs
  bors/hartex-bors-database/src/client.rs
Labels: waiting-on-bors

#1035 Bors: Check If Queue Only Has One PR
  bors/Cargo.lock
  bors/hartex-bors-commands/src/commands/approve.rs
  bors/hartex-bors-commands/src/commands/approve_cancel.rs
  bors/hartex-bors-commands/src/commands/ping.rs
  bors/hartex-bors-commands/src/commands/try.rs
  bors/hartex-bors-commands/src/commands/try_cancel.rs
  bors/hartex-bors-commands/src/permissions.rs
  bors/hartex-bors-core/src/lib.rs
  bors/hartex-bors-database/src/client.rs
  bors/hartex-bors-driver/Cargo.toml
  bors/hartex-bors-driver/src/event.rs
  bors/hartex-bors-driver/src/main.rs
  bors/hartex-bors-driver/src/process.rs
  bors/hartex-bors-driver/src/queue.rs
  bors/hartex-bors-driver/src/workflows.rs
  bors/hartex-bors-github/src/lib.rs
Labels: waiting-on-bors

#1037 Bors: Queue: Dequeue When PR Merged
  bors/hartex-bors-core/src/lib.rs
  bors/hartex-bors-core/src/queue.rs
  bors/hartex-bors-database/src/client.rs
  bors/hartex-bors-driver/src/event.rs
  bors/hartex-bors-driver/src/queue.rs
  bors/hartex-bors-driver/src/workflows.rs
Labels: waiting-on-bors

#1041 Bors: Get Next PR In Queue When One Is Merged
  bors/hartex-bors-driver/src/queue.rs
Labels: waiting-on-bors

#1042 add plugins configuration
  discord-frontend/hartex-discord-configuration-sample/configuration.hcl
Labels: waiting-on-bors

#1056 Discord Frontend: Configuration: Add `ranks` Field
  discord-frontend/hartex-discord-configuration-manifest/src/lib.rs
  discord-frontend/hartex-discord-configuration-manifest/src/ranks.rs
Labels: Bot: Enhancement

#1065 Discord-Frontend Commands: Fix CommandMetadata Macro Test
  discord-frontend/hartex-discord-commands-core/src/traits.rs
  discord-frontend/hartex-discord-commands-macros/src/commandmetadata.rs
  discord-frontend/hartex-discord-commands-macros/src/lib.rs
  discord-frontend/hartex-discord-commands-test/tests/expand/derive.expanded.rs
  discord-frontend/hartex-discord-commands-test/tests/expand/derive.rs
  discord-frontend/hartex-discord-commands/src/general/about.rs
  discord-frontend/hartex-discord-commands/src/general/contributors.rs
  discord-frontend/hartex-discord-commands/src/general/latency.rs
  discord-frontend/hartex-discord-commands/src/general/uptime.rs
Labels: Bot: Enhancement, Bot: Bugfix

#1071 Discord-Frontend: Command Macros: Fix Test
  discord-frontend/hartex-discord-commands-test/tests/expand/derive.expanded.rs
  discord-frontend/hartex-discord-commands-test/tests/expand/derive.rs
Labels: Bot: Bugfix

#1072 Discord-Frontend: Command Macros: Fix Tests Again
  discord-frontend/hartex-discord-commands-core/src/traits.rs
  discord-frontend/hartex-discord-commands-test/tests/expand/derive.expanded.rs
  discord-frontend/hartex-discord-commands/src/general/about.rs
  discord-frontend/hartex-discord-commands/src/general/contributors.rs
  discord-frontend/hartex-discord-commands/src/general/latency.rs
  discord-frontend/hartex-discord-commands/src/general/uptime.rs
Labels: Bot: Bugfix

#1077 Web-Frontend: Fix Documentation Overflow
  web-frontend/pages/docs/index.vue
Labels: Web: Bugfix

#1079 Documentation: Add Introduction Page
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  web-frontend/content/docs/introduction.md
  web-frontend/nuxt.config.ts
  web-frontend/package.json
  web-frontend/pages/docs/[slug].vue
  web-frontend/public/favicon.ico
  web-frontend/yarn.lock
Labels: Web: Enhancement, Web: Feature

#1080 Web-Frontend: Docs: Update Introduction Page
  web-frontend/content/docs/introduction.md
  web-frontend/pages/docs/[slug].vue
  web-frontend/public/img/hartexbanner.png
Labels: Web: Enhancement

#1081 Web: Update Introduction Page
  web-frontend/components/content/Admonition.vue
  web-frontend/content/docs/introduction.md
  web-frontend/pages/docs/[slug].vue
Labels: Web: Enhancement

#1088 Backend: Rework Database Infrastructure
  .env.example
  api-backend/Cargo.lock
  api-backend/hartex-backend-routes-v1/Cargo.toml
  api-backend/hartex-backend-routes-v1/src/uptime.rs
Labels: Backend: Breaking Change, Backend: Enhancement

#1098 API Backend: Switch to PostgreSQL
  api-backend/Cargo.lock
  api-backend/hartex-backend-driver/src/main.rs
  api-backend/hartex-backend-models-v1/Cargo.toml
  api-backend/hartex-backend-models-v1/src/uptime.rs
  api-backend/hartex-backend-routes-v1/Cargo.toml
  api-backend/hartex-backend-routes-v1/src/uptime.rs
  bors/Cargo.lock
  discord-frontend/Cargo.lock
  localization/Cargo.lock
Labels: Backend: Breaking Change, Backend: Feature
